<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <link href="{% static 'css/guestbook.css' %}" rel="stylesheet">

    <title>
        {% block title %} Guestbook {% endblock %}
    </title>
</head>
<body>
    <img src="{% static 'images/django.png' %}" />
    <h1>Guestbook</h1>
    {% block body_block %} {% endblock %}
</body>
</html>